html {
    overflow-x: hidden;
}
body {
    padding-top:150px;
}

* {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.catPena {
    font-family: "Qwigley", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:60px;
}

.navbar {
    background-color: #E6CCB2;
    box-shadow:0px 0px 15px 1px rgba(0, 0, 0, 0.235);

}
.navbar-brand img {
    width: 45px;
    height:45px;
    border-radius: 100%;
}

#offeringPathways {
    background-color: #F5F9FC;
}

.reikiYogaSound {
    background-color: white;
}

#offeringPathways img {
    width: 100%;
    height:auto;
}

#offeringPathways p {
    font-size:20px;
}
#reiki {
    background-image: url('imgs/reiki.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}
#yoga {
    background-image: url('imgs/yoga-beach.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}
#sound {
    background-image: url('imgs/gong-scaled.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
}

#offeringPathways, #reiki, #yoga, #sound, #reviews {
    box-shadow:0px 0px 15px 1px rgba(0, 0, 0, 0.235);
}

#reviews {
    background-color: #F5F9FC;
}
#reiki .row, #yoga .row, #sound .row {
    height: 350px;
    margin-top: 200px;
    margin-bottom:200px;
    backdrop-filter: brightness(50%);
}

#reiki h2, #yoga h2, #sound h2 {
    font-size:40px;
    font-weight: bold;
    color:white;
    margin-bottom:30px;
}

#reiki p, #yoga p, #sound p {
    font-size:25px;
    font-weight: normal;
    color:white;
}

#reviews {
    height:auto;
    margin-top: 200px;
    margin-bottom:200px;
}


footer img {
    width: 150px;
    height:150px;
}

footer * {
    color: #CFA84A;
}

footer p {
    font-size:19px;
}

footer a {
    text-decoration: none;
}

.btn-outline, .btn-outline a {
    color: #C57B57;
    border-color: #C57B57;
    text-decoration: none;
    font-size:20px;
}

.card-title {
    font-size:30px;
    font-weight: 500;
}

*::-webkit-scrollbar {
  width: 6px;               /* width of scrollbar */
}

*::-webkit-scrollbar-track {
  background: #ffffff;      /* track background */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.486);          /* scrollbar handle color */
  border-radius: 4px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 100%;
    padding:10%;

}

footer {
     background-color: black; 
     color:white; 
     margin-top:30px;
}